## Pandas

Pandas es una biblioteca de python que permite la manipulacion y analisis de datos para el lenguaje Python. Para importala hacemos lo siguiente:

In [85]:
import pandas as pd
import numpy as np

## DataFrame

El eje central de pandas es el dataframe, ya que nos permite manipular la información de forma sencilla a través de sus métodos y atributos. Lo primero que hay que entender es la lectura de la información, para esto podemos usar varias funciones de pandas, la mas usada es read_csv()

La data (información) con la que trabajaremos estara en: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv que es un tsv (archivo separado por tabs)

In [5]:
info = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = "\t", header = 0)
print('tipo info: ',type(info))
info

('tipo info: ', <class 'pandas.core.frame.DataFrame'>)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Data

Cuando utilicemos pandas lo mas importante es saber sobre la data que poseemos en este caso significa:

| Columna            | Descripcion                     |
|--------------------|---------------------------------|
| order_id           | Número de orden del producto    |
| quantity           | Cantidad de veces que se ordeno |
| item_name          | Nombre del producto             |
| choice_description | Descripción del producto        |
| item_price         | Precio del producto             |

## Funciones relacionadas con descripcion de información de un DataFrame

DataFrame posee diversas funciones para que podamos entender como es la información que poseemos

In [10]:
info.head() #Imprime las primeras5 filas

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
info.tail()  # Imprime las ultimas 5

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [12]:
info.info()  # Imprime informacion en general sobre el dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [14]:
info.describe()  # Infoormacion estádistica del DataFrame (solo númerica)

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

## Atributos de DataFrame

DataFrame posee atriutos importantes como:

| Atributo | Descripcion                                           |
|----------|-------------------------------------------------------|
| columns  | Nombre de las columnas del dataframe                  |
| dtypes   | Tipos de datos del dataframe                          |
| ndim     | Número de dimensiones del dataframe                   |
| shape    | Tupla que representa la dimensionalidad del dataframe |
| values   | Regresa un ndarray (numpy) con la info del dataframe  |
| index    | Como esta indexado el dataframe                       |

In [34]:
print("Registros de dataframe: {}\n".format(len(info)))
print("Columnas del dataframe: {}\n".format(info.columns))
print("Numero de columnas del dataframe: {}\n".format(len(info.columns)))
print("dtype:\n{}\n".format(info.dtypes))
print("ndim: {}\n".format(info.size))
print("shape: {}\n".format(info.shape))
print("values: {}\n".format(info.values))
print("index: {}\n".format(info.index))

Registros de dataframe: 4622

Columnas del dataframe: Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

Numero de columnas del dataframe: 5

dtype:
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

ndim: 23110

shape: (4622, 5)

values: [[1 1 'Chips and Fresh Tomato Salsa' nan '$2.39 ']
 [1 1 'Izze' '[Clementine]' '$3.39 ']
 [1 1 'Nantucket Nectar' '[Apple]' '$3.39 ']
 ...
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]'
  '$11.25 ']
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]' '$8.75 ']
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]'
  '$8.75 ']]

index: RangeIndex(start=0, stop=4622, step=1)

## Seleccionar columnas de un dataframe

Para seleccionar columnas basta con poner su nombre en corchetes o con escribirlo seguido de un punto (es la que seguiremos en este manual), una columna de un dataframe es una clase llamada "Serie".

In [49]:
print(info['order_id'].head())

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: int64

In [50]:
print(info['order_id'].head())

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: int64

## Series

Series es una columna de un DataFrame este posee diversos métodos y atributos, los atributos mas destacables de Series son:

| Atributo | Descripcion                                  |
|----------|----------------------------------------------|
| size     | Tamaño de la Serie                           |
| dtype    | Tipo de dato de la Serie                     |
| values   | Regresa un ndarray con la info del dataframe |

In [69]:
serie = info.order_id  # Haremos una serie de la columna orde_id
print(serie.head())  #imprimimos los primeros 5
print("\ntamaño: {}\n".format(serie.size))
print("tipo de los elementos: {}\n".format(serie.dtype))
print("values como ndarray: {}\n".format(serie.values))

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: int64

tamaño: 4622

tipo de los elementos: int64

values como ndarray: [   1    1    1 ... 1834 1834 1834]

algunos métodos que posee una serie son:

In [73]:
print("Descripcion Estadistica \n{}\n".format(serie.describe()))
print("media: {}\n".format(serie.mean()))
print("maximo: {}\n".format(serie.max()))
print("minimo: {}\n".format(serie.min()))
print("valores unicos: {}\n".format(serie.unique()))
print("Repeticion de cada valor unico: \n{}\n".format(serie.value_counts().head()))
print("Moda: \n{}\n".format(serie.value_counts().head(1)))
print("ordenando de forma no ascendente \n{}\n".format(serie.sort_values(ascending = False).head()))
print("Suma de todos los elementos: {}\n".format(serie.sum()))

Descripcion Estadistica
count    4622.000000
mean      927.254868
std       528.890796
min         1.000000
25%       477.250000
50%       926.000000
75%      1393.000000
max      1834.000000
Name: order_id, dtype: float64

media: 927.254868023

maximo: 1834

minimo: 1

valores unicos: [   1    2    3 ... 1832 1833 1834]

Repeticion de cada valor unico:
926     23
1483    14
205     12
691     11
1786    11
Name: order_id, dtype: int64

Moda:
926    23
Name: order_id, dtype: int64

ordenando de forma no ascendente
4621    1834
4619    1834
4620    1834
4618    1833
4617    1833
Name: order_id, dtype: int64

Suma de todos los elementos: 4285772

### Slicening (Seleccionamiento)

Un dataframe se puede acceder de distintas formas a segmentos del mismo, por ejemplo para acceder a los primeros 3 elementos de la columna *'order_id'* se puede realizar de la siguiente forma:

In [47]:
print(info.order_id.head(3))

0    1
1    1
2    1
Name: order_id, dtype: int64

In [48]:
print(info.order_id[:3])  # Tambien de esta forma

0    1
1    1
2    1
Name: order_id, dtype: int64

ambas formas son correctas, existen funciones que generalizan esto:

## Funcion iloc

La funcion iloc permite acceder a un valor, parcial/totalidad de toda una columna, parcialidad/totalidad de toda una fila, o hacer que el dataframe sea mas pequeño, por ejemplo:

In [79]:
info.iloc[:,:] # Selecciono todas las columnas y todas las filas
info.iloc[2:5,:]  # Selecciono todas las columnas y las filas [2,5)
info.iloc[1:4, 2:4]  # Selecciono los renglones [1,4) y las filas [2,4)

                               item_name choice_description
1                                   Izze       [Clementine]
2                       Nantucket Nectar            [Apple]
3  Chips and Tomatillo-Green Chili Salsa                NaN

## Agrupar un DataFrame

Se puede agrupar un dataframe en base a una caracteristica:

In [87]:
agrupado_por_comida = info.groupby('item_name')
print(agrupado_por_comida)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x7fb2ad65ed50>

## Objeto GroupBy

Un objeto group by es el resultado de agrupar un dataframe, a el groupby hay que aplicarle una función para que los valores iguales (la columna que utilizamos para agrupar) se puedan unir:

| Función     | Descripcion         |
|-------------|---------------------|
| min()       | Toma el minimo      |
| max()       | Toma el maximo      |
| mean()      | Toma la media       |
| sum()       | Suma de todos los valores      |
| agregate(f) | Aplica la función f |

In [91]:
suma_cantidades = agrupado_por_comida.sum().head()
print(suma_cantidades)

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

## Fitrando

En un DataFrame podemos escoger que valores queremos mostrar, lo primero es etablecer cuales queremos, por ejemplo, queremos el producto que se vendio 55 en total, entonces:

In [93]:
booleano_cantidades_igual_55 = suma_cantidades.quantity == 55  # nos regresa una Serie de booleanos
print(booleano_cantidades_igual_55)

item_name
6 Pack Soft Drink         True
Barbacoa Bowl            False
Barbacoa Burrito         False
Barbacoa Crispy Tacos    False
Barbacoa Salad Bowl      False
Name: quantity, dtype: bool

Para obtener el valor tenemos que acceder a la informacion a traves de la Serie de booleanos

In [94]:
producto = suma_cantidades[booleano_cantidades_igual_55]  # Nos regresa el producto que se vendio 55  veces
print(producto)

                   order_id  quantity
item_name
6 Pack Soft Drink     52322        55

## Ordenando

Tambien podemos ordenar un DataFrame de una forma similar a la de una Serie:

In [96]:
suma_cantidades_ordenado = suma_cantidades.sort_values("quantity", ascending=True).head()  # Ordenamos por cantidad ascendentemente
print(suma_cantidades_ordenado)

                       order_id  quantity
item_name
Barbacoa Salad Bowl        9708        10
Barbacoa Crispy Tacos      5613        12
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91